.user-comment {
    margin: 50px 0px;
    padding: 30px 50px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.username {
    padding-left: 6px;
}

.comment {
    padding: 10px;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
}

.vote {
    text-align: center;
    font-size: 40px;
    border: 0;
    color: #b3b3b3;
    background-color: transparent;
}

.vote:hover {
    cursor: pointer;
    color: #ff6a6aaf;
}

.vote.active{
    color: #ff6a6a;
}

#votenum {
    font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
    text-align: center;
}

.user-img-container {
    margin: 20px -3px;
}

/* width should vary based on num of images */
.user-img {
    display: inline-block;
    padding: 3px;
    object-fit: cover;
    vertical-align: middle;
    height: 170px;
    width: auto;
}

/* The dropdown container */
.ellipsis {
    float: right;
    overflow: hidden;
}
  
/* Dropdown button */
.ellipsis .ellipsis-btn {
    font-size: 16px;
    color: #6e6e6e;
    margin: 0; /* Important for vertical align on mobile phones */
    z-index: 2;
}

/* Add a red background color to navbar links on hover */
.ellipsis-btn:hover {
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.ellipsis-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.ellipsis-content button {
    display: block;
    background-color: white;
    color: black;
    font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
    border:0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    min-width: 70px;
    min-height: 28px;
}

.ellipsis-content button:hover {
    background-color: #ddd;
}

.show {
    display:block;
}

@media (max-width: 800px) {
    .user-img-container {
        text-align: center;
    }
}    