.user-comment {
    margin: 50px 0px;
    padding: 30px 50px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.username {
padding-left: 6px;
}

.comment {
padding: 10px;
border: 2px solid #f1f1f1;
border-radius: 5px;
}

.vote {
text-align: center;
font-size: 40px;
border: 0;
color: #b3b3b3;
background-color: transparent;
}

.vote:hover {
cursor: pointer;
color: #ff6a6aaf;
}

.vote.active{
color: #ff6a6a;
}

#votenum {
    font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
    text-align: center;
}

.report {
    background-color: white;
    color: #6e6e6e;
    font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
    border:0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.report:hover {
    color: black;
    text-decoration: underline;
}

.user-img-container {
    margin: 20px -3px;
}

/* width should vary based on num of images */
.user-img {
    display: inline-block;
    padding: 0px 3px;
    object-fit: cover;
    vertical-align: middle;
    height: 170px;
    width: auto;
}


/* The dropdown container */
.ellipsis {
    float: right;
    overflow: hidden;
}
  
/* Dropdown button */
.ellipsis .ellipsis {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #ff6a6a;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}