.food-body {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.review-section {
    margin-top: 30px;
}


.food img {
    height: 250px;
}

.food-intro {
    margin: 10px auto;
    margin-bottom: 40px;
    background-color: #fff4e9;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    padding: 15px 20px 20px;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    .food {
      flex-direction: column;
      margin-top: 50px;
      padding-bottom: 10px;
      align-items: center;
      justify-content: center;
    }

    #food-name {
        text-align: center;
    }

    .food img {
        height: auto;
    }

    .food .slideshow-container {
        width: 80%;
        height: 150px;
    }
  }
