/* elements */

.cartoon {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 25px auto 0px;
  }
  
.brief-content {
    display: block;
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 30px;
    text-align: center;
}

.additional-content {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.about {
    width: 60%;
    min-width: 400px;
    margin: 50px auto;
    padding: 30px 50px;
    background-color: #fff4e9;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.top-blank {
    margin-top: 100px;
}

#contact-title{
    margin-top: 70px;
}

#contact-guide {
    text-align: center;
    font-size: 17px;
    margin: 0;
}


/* Add a background color and some padding around the form */
.contact-container {
    padding: 20px;
}

.sign-log {
    margin-top: 100px !important;
}

