.about {
    width: 60%;
    min-width: 400px;
    margin: 50px auto;
    padding: 30px 50px;
    background-color: #fff4e9;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}

.top-blank {
    margin-top: 100px;
}