/* typography */
html {
  font-size: 14px;
  color: #202124;
  font-family: League Spartan,Helvetica,Arial,sans-serif;
  background-color: white;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #6667ab;
  text-shadow: 3px 3px 1px #c6eaf2;
}

p, li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.5px;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

/* elements */

img {
  display: block;
  margin: 0 auto;
}

/* Style the search box */
input[type=text] {
  padding: 8px;
  width: 40%;
  min-width: 400px;
  position: relative;
  display: block;
  border: 1px solid #dfe1e5;
  margin: 10px auto;
  text-align: left;
  font-size: 16px;
}
