/* typography */
html {
  font-size: 14px;
  color: #202124;
  font-family: League Spartan,Helvetica,Arial,sans-serif;
  background-color: white;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  overflow: auto;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 100px 0px auto;
  padding: 10px 0;
  padding-top: 30px;
  color: #ff6a6a;
  text-shadow: 3px 3px 1px #f3dbe4;
  
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  color: #d26183;
}

p, li {
  font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.5px;
}

a {
  color: black;
}

a:hover {
  color: #ff6a6a;
}

/* elements */

.cartoon {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 25px auto 0px;
}

.brief-content {
  display: block;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 30px;
  text-align: center;
}

.additional-content {
  display: block;
  margin: 0 auto;
  text-align: center;
}