/* typography */
html {
  font-size: 14px;
  color: #202124;
  font-family: League Spartan,Helvetica,Arial,sans-serif;
  background-color: white;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  overflow: auto;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 70px 10px auto;
  padding: 20px 0;
  color: #ff6a6a;
  text-shadow: 3px 3px 1px #f3dbe4;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  color: #d26183;
}

p, li {
  font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
  font-size: 14px;
  line-height: 3;
  letter-spacing: 0.5px;
}

/* elements */

.cartoon {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 25px auto 0px;
}

.additional-content {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* Style the search box */
input[type=text] {
  padding: 8px;
  width: 40%;
  min-width: 400px;
  position: relative;
  display: block;
  border: 1px solid #dfe1e5;
  margin: 8px auto;
  text-align: left;
  font-size: 16px;
}

