/* navigation bar */
.nav {
    margin-top: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #6667ab;
    font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
}

/* Style the links inside the navigation bar */
.nav a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav img{
    object-fit: cover;
    width: 30px;
    height: 30px;
}

/* .nav-home {
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 0px !important;
} */

/* Style the "active" element to highlight the current page */
.nav a.active {
    background-color: #d26183;
    color: white;
}

/* The dropdown container */
.dropdown {
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    width: 100%;
}

/* Add a red background color to navbar links on hover */
.nav a:hover, .dropdown:hover, .dropbtn {
    background-color: #ff6a6a;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    font-size: 14px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.setting {
    right: 0;
}

.menu {
    display: none;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* footer */
footer {
    display: block;
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 30;
    left: 0;
    margin-top: 30px;
    padding: 10px;
    background-color: #6667ab;
    text-align: center;
    font-size: 11px;
    color:white;
}

.mini-footer {
    display: none;
}



.nav-left {
    float: left;
}

.nav-right {
    float: right;
}


@media (max-width: 600px) {
    .nav-hide {
      display: none;
    }
}

@media screen and (max-width: 480px) {
    .nav a:not(:first-child), .nav .dropdown {
        display: none;
    }

    .nav a.menu {
        float: right;
        display: block;
    }

    .long-footer {
        display: none;
    }

    .mini-footer{
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .nav.responsive {
        position: relative;
    }

    .nav.responsive .menu {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        display: block;
        text-align: left;
    }

    .nav.responsive .dropdown, .nav.responsive .dropbtn{
        display: block;
        width: 100%;
        text-align: left;
    }

    .nav.responsive .dropdown-content {
        position: relative;
        background-color: #8a8bbe;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #7475ad;
    }

    .nav.responsive .dropdown-content a{
        color: white;
    }

    .nav.responsive .nav-left, .nav.responsive .nav-right {
        float: none;
    }
}


/* .log-btn {
    display: block;
    float: none;
    font-size: 14px;
    padding: 12px 16px;
    font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
    color: black;
    background-color: white;
    text-align: left;
    text-decoration: none;
    border: none;
    outline: none;
}

.log-btn:hover {
    background-color: #ddd;
    cursor: pointer;
} */

.alert {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #ee81a1; /* Red */
    color: white;
    border-radius: 5px;
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    z-index: 100;
    opacity: 1;
  }
  
  .alert p{
    margin: 0;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
