.rank {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-item {
    max-width: 400px;
    width: 80%;
}

.flex-left {
    margin: 20px 20px 40px 40px;
}

.flex-right {
    margin: 20px 40px 40px 20px;
}

.rank a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.rank-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.rank-title {
    font-size: 18px;
    margin: 0 auto;
}

.rank-card h2 {
    color: #d26183;
    font-size: 20px;
    margin: 10px auto;
    text-shadow: 0px;
}

.rank-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #ee81a1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
    font-size: 14px;
}

.rank-card p {
    margin: 10px auto;
}

.rank-card button:hover, a:hover {
    opacity: 0.7;
}

@media (max-width: 800px) {
    .rank {
      flex-direction: column;
    }

    .flex-item {
        margin: 20px auto;
    }
  }