.rank {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.rank-head {
    font-size: 35px;
    margin: 0px auto;
    margin-top: 30px;
}

.rank-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 15px;
    text-align: center;
    box-sizing: border-box;
}

.rank-title {
    font-size: 18px;
    margin: 0 auto;
}

.rank-card a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.rank-card img {
    height: 170px;
    width: 270px;
    object-fit: cover;
}

.rank-card h2 {
    color: #d26183;
    font-size: 20px;
    margin: 10px auto;
    text-shadow: 0px;
}

.rank-card a {
    display: inline-block;
    padding: 8px 0px;
    color: white;
    background-color: #ee81a1;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: LibreBaskerville-Regular, Palatino Linotype,Times New Roman,serif;
    font-size: 14px;
    margin-top: 10px;
}

.rank-card p {
    margin: 0px auto;
}

.rank-card a:hover, a:hover {
    opacity: 0.7;
}


@media (max-width: 900px) {
    .rank-card img {
        height: 130px;
        width: 230px;
    }

    .rank-head {
        font-size: 30px;
    }
}

@media (max-width: 700px) {
    .rank {
      flex-direction: column;
    }

    .flex-item {
        margin: 20px auto;
    }
}