#email-field{
    border-radius: 5px 5px 5px 5px;
}
#username-field{
    border-radius: 5px 5px 5px 5px;
}
#password-field{
    border-radius: 5px 5px 5px 5px;
}
#repeat-password-field{
    border-radius: 5px 5px 5px 5px;
}
